@{
    ViewBag.Title = "OData";
}
<html>
    <head>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

        <script language="javascript">
            function showActors() {

                $("#actorsResult").empty();

                $.getJSON("../Services/ActorService.svc/Actors",
                    function(data) {
                        if (data != null && data.value.length > 0) {

                            var actors = data.value;

                            for (var i = 0; i < actors.length; i++) {
                                $("#actorsResult").append("<div>" + actors[i].Name + "</div>");
                            }
                        }
                    });
            }
        </script>
    </head>
    <body>
        <h1>OData Actors service</h1>

        <input type="button" id="btnShowActors" value="Show actors" onclick="showActors()" />
        <br/><br/>
        <div id="actorsResult"></div>
    </body>
</html>